body {
    background-color: #282c34;
}

.app {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .optionbar {
    width: 600px;
    min-height: 20vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .verifybar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .switch {
      margin-right: 10px;
  }
  
  .btn_primary {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    background-color: #09d3ac;
    color: #282c34;
    border: none;
    font-size: 2.5vh;
  }
  
  .btn_secondary {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    background-color: #282c34;
    color: #09d3ac;
    border: 1px solid #09d3ac;
    font-size: 2vh;
  }

  .text_secondary {
      font-size: 2vh;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #09d3ac;
  }

  .fileinput {
      position: absolute;
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      z-index: -1;
  }

  .fileinput + label {
      position: absolute;
      top: 5vh;
      left: 5vh;
      width: 200px;
      height: 60px;
      border: 1px solid #09d3ac;
      border-radius: 50px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 2vh;
      color: #09d3ac;
  }

  .file_label {
      position: absolute;
      top: 5.5vh;
  }
  
  .flex_center {
    align-self: center;
  }
  
   /* The switch - the box around the slider */
   .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #282c34;
    border: 1px solid #09d3ac;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #09d3ac;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #09d3ac;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
  